.card {
    background-color: var(--branco);
    width: 90vw;
    border-radius: 15px;
    overflow: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card__cabecalho {
    background-image: url('../img/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--cinza_borda);
    padding-top: 5rem;
}

.cabecalho__imagem {
    background-image: url('../img/image-victor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    border: 5px solid var(--branco);
    border-radius: 100%;

}

.cabecalho__titulo {
    color: var(--preto_azulado);
    font-size: 20px;
    padding: 1rem 0 .5rem 0;
}

.cabecalho__idade {
    color: var(--cinza_claro);
    font-weight: 400;
}

.cabecalho__cidade {
    color: var(--cinza_claro);
    font-size: 15px;
    padding-bottom: 2rem;
}

.card__corpo{
    padding: 1.5rem;
}

.corpo__lista {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.lista__dados {
    text-align: center;
}

.dados__numero {
    color: var(--preto_azulado);
    font-weight: 700;
    font-size: 18px;
    padding-bottom: .3rem;
}

.dados__nome {
    color: var(--cinza);
    font-size: 12px;
    letter-spacing: 2px;
}

